[global_tags]
  instance = "grafana"

[agent]
  interval = "10s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = ""
  hostname = ""
  omit_hostname = false

[[outputs.influxdb]]
  urls = ["http://10.10.123.93:8428"]
  database = "telegraf"
  username = "telegraf"
  password = "metricsmetricsmetricsmetrics"

[[inputs.cpu]]
  percpu = true
  totalcpu = true
  collect_cpu_time = false
  report_active = false

[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs", "devfs", "iso9660", "overlay", "aufs", "squashfs"]

[[inputs.diskio]]
[[inputs.kernel]]
[[inputs.mem]]
[[inputs.processes]]
[[inputs.swap]]
[[inputs.system]]


[[inputs.net]]
[[inputs.procstat]]
  user = "root, telegraf"

[[inputs.statsd]]
  protocol = "udp"
  max_tcp_connections = 250
  service_address = ":8126"
  delete_gauges = true
  delete_counters = true
  delete_sets = true
  delete_timings = true
  percentiles = [90.0]
  metric_separator = "_"
  allowed_pending_messages = 10000
  percentile_limit = 1000

[[inputs.http]]
  urls = ["http://localhost:19999/api/v1/allmetrics?format=prometheus"]
  name_prefix = "netdata_"
  data_format = "prometheus"